<section class="flex flex-col-reverse md:flex-row items-center justify-between md:py-15 px-6 md:px-20 space-y-10 md:space-y-0">
  <!-- Left Column -->
  <div class="text-center md:text-left">
    <p class="sm:text-2xl lg:text-3xl mb-2">Hello it's Me</p>
    <h1 class="sm:text-4xl lg:text-5xl font-bold mb-2">Youssef Raafat</h1>
    <h2 class="sm:text-xl lg:text-2xl mb-4">
      <span class="text-blue-500">Front End Developer | Angular</span>
    </h2>
    <p class="lg:text-2xl mb-4">Passionate about turning ideas into stunning & functional designs.</p>
    <div class="flex justify-center md:justify-start space-x-4 mb-5">
      <a href="mailto:se.youssefrafat@gmail.com" class="transition-all duration-300 hover:text-blue-500 text-2xl">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://github.com/YOUSSEF-R-KAMEL?tab=repositories" class="transition-all duration-300 hover:text-blue-500 text-2xl">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/youssef-raafat-695591203/" class="transition-all duration-300 hover:text-blue-500 text-2xl">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <a href="https://drive.google.com/file/d/1g0owqyi6aJZDNzzeF-gjTALd1EAWCbpu/view?usp=sharing" target="_blank" class="bg-blue-500 hover:bg-blue-600 text-lg font-semibold py-2 px-4 rounded shadow">
      Download CV
    </a>
  </div>
  <div class="mt-5 mb-5 md:w-1/2" >
    <div class="profile-img-container mx-auto">
      <img src="images/profile.png" alt="Marina Samir" class="img-fluid rounded-full" />
    </div>
  </div>
</section>
