<section id="projects" class="projects text-center pt-12 pb-12 overflow-hidden">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-4xl md:text-5xl font-bold mb-12">
      <span class="text-blue-500">My</span> Projects
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      @for (item of projects; track $index) {
      <div
        class="card rounded-xl shadow-lg overflow-hidden bg-gray-800 hover:shadow-2xl transform hover:scale-105 transition duration-500"
        data-aos="zoom-in" data-aos-duration="1500">
        <h4 class="text-xl font-semibold my-4 px-4 text-white">{{ item.title }}</h4>

        <a [href]="item.liveLink" target="_blank">
          <img [src]="'images/projects/' + item.img" [alt]="item.title"
            class="w-full h-48 sm:h-52 md:h-56 object-cover" />
        </a>

        <div class="flex justify-between items-center p-4">
          <a [href]="item.liveLink" target="_blank"
            class="btn bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
            Live Demo
          </a>
          <a [href]="item.sourceCode" target="_blank"
            class="btn bg-gray-800 text-white px-4 py-2 rounded hover:bg-gray-900 transition">
            Source Code
          </a>
        </div>
      </div>
      }
    </div>
  </div>
</section>
